$colors: (
  purple: (
    100: #ad00ff,
    200: #9300d0,
    300: #7e34b5,
  ),
  orange: (
    100: #ff912c,
    200: #f06438
  ),
  blue: (
    100: #409fc7
  ),
  white: (
    100: #ffffff,
    200: #f1f1f1
  ),
  black: (
    100: #000000
  )

)