@use 'colors' as *;
@use 'typography' as *;
@use 'media-query' as *;
@use 'fonts' as *;



:root {

/* ------------------- */
/* Importing colors and font sizes  */
/* ------------------- */

  @each $color, $shades in $colors {
    @each $shade, $value in $shades {
      --clr-#{"" +$color}-#{$shade}: #{$value}; //--clr-purple-100 etc.
    }
  }
  @each $screen-size, $font-size in $type-scale {
    @if $screen-size == small {
      @each $size, $value in $font-size {
        --fs-#{$size}: #{$value}; //--fs-small-300 etc.
      }
    } @else {
      @include mq(small) {
        @each $size, $value in $font-size {
          --fs-#{$size}: #{$value};
        }
      }
    }
  }

  @each $weight, $value in $type-weight { //--fw-bold & --fw-regular
    --fw-#{$weight}: #{$value};
  }

  @each $height, $value in $line-height { //--lh-100 
    --lh-#{$height}: #{$value};
  }

  @each $color, $shades in $colors {
    @each $shade, $value in $shades {
      .text-#{"" +$color}-#{$shade} { //text-purple-100 etc.
        color: $value;
      }
      .bg-#{"" +$color}-#{$shade} { //bg-purple-100 etc.
        color: $value;
      }   
    } 
  }
}


/* ------------------- */
/* Reset               */
/* ------------------- */

/* https://piccalil.li/blog/a-modern-css-reset/ */

/* Box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Reset margins */
body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
  margin: 0; 
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-weight: var(--fw-regular);
}

body {
  font-family: "Avenir Next", sans-serif;
  font-size: var(--fs-500);
  color: var(--clr-black-100);
  background-color: var(--clr-purple-100);
  line-height: var(--lh-200);
  min-height: 100vh;
}


h1 {
  @extend .uppercase;
  font-family: "Montserrat", sans-serif;
  font-size: var(--fs-700);
  font-weight: var(--fw-bold);
  line-height: var(--lh-400);
  letter-spacing: 0.1em;
}

h2 {
  font-family: "Montserrat", sans-serif;
  font-size: var(--fs-600);
  font-weight: var(--fw-bold);
  line-height: var(--lh-300);
  letter-spacing: 0.1em;
}

h3 {
  font-family: "Montserrat", sans-serif;
  font-size: var(--fs-500);
  font-weight: var(--fw-bold);
  line-height: var(--lh-200);
  letter-spacing: 0.1em;
}

/* make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* make form elements easier to work with */
input,
button,
textarea,
select {
  font: inherit;
}

input {
  display: inline;
  cursor: pointer;
  background: none;
  border: none;
  color: var(--clr-white-100);
  font-weight: var(--fw-thin);
  letter-spacing: 0.1em;  
  &::placeholder {
    color: var(--clr-white-300);
    font-weight: var(--fw-thin);
  }
   &:focus-visible {
    outline: none;
  }
}

ol, ul {
	list-style: none;
}

a, a:hover, a:focus, a:active {
  text-decoration: none;
  color: inherit;
}

button, input[type="submit"], input[type="reset"] {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
  width: 11em;
  height: 2.688em;
	cursor: pointer;
	outline: inherit;
  font-size: var(--fs-300);
  line-height: var(--lh-10);
  border: 2px solid #ffffff;
  border-radius: 100px;
  letter-spacing: 0.1em;
  transition: 0.3s;
  @extend .uppercase;
}

/* remove animations for people who've turned them off */
@media (prefers-reduced-motion: reduce) {  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}




/* ------------------- */
/* Utility classes     */
/* ------------------- */

.uppercase { text-transform: uppercase; }

.blog-text {
  font-family: "Avenir Next", sans-serif;
  font-size: var(--fs-300);
  line-height: var(--lh-200);
  letter-spacing: 0.1em;
}

.nav {
  @extend h3, .uppercase;
}

// .bg-bottom {
//   position: fixed;
//   bottom: 0;
//   width: 100vw;
//   z-index: -20;
// }